[Unit]
Description=TeleMerge bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/TeleMerge
ExecStart=/usr/bin/python3 telemerge.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target